
{% extends 'index.html' %}


{% block content %} 
{% if form.errors %}
     <div>
       Mensaje de alerta 
     </div>
{% endif %}
<h1> Actualización de Niños </h1>
<form action="#" method="POST">
     {% csrf_token %}
     {% if mensaje %}
         <div class="alert alert-success" role="alert">
           Niño registrado exitosamentel
         </div>
     {% endif %}
     {{ form }}
     <button type="submit">Registrar</button> 

</form> 

<a href="{% url 'Home' %}">Inicio</a>
{% endblock %}

<a href="{% url 'Home' %}">Inicio</a>