{% extends 'Index.html' %}

{% block content %}
<style>
	.btn{
		font-family: Roboto, sans-serif;
		font-weight: 0;
		font-size: 14px;
		color: #fff;
		background-color: #0066CC;
		padding: 10px 30px;
		border: 2px solid #0066cc;
		box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;
		border-radius: 50px;
		transition : 1000ms;
		align-items: center;
		cursor: pointer;
	}
</style>
{% if form.errors %}
	<div class="alert alert-warning alert-dismissible fade show" role="alert">
            Ha habido un error con tu formulario...
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>

{% endif %}	

	<div class="shadow p-4 mb-5 bg-body rounded">
	<h1>Registro</h1>
		<form action="{% url 'register_user' %}" method=POST>
			{% csrf_token %}
			{{ form.as_p }}
			<input type="submit" value="Registrar" class="boton" style="background-color: lime;">
		</form>
</div>
<a class="btn" href="{% url 'Home' %}">Volver a Inicio</a>
{% endblock %}